body {
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}

header img {
    margin-left: 20px;
    height: 30px; /* Adjust according to your logo size */
    vertical-align: middle;
}